<div class="fixed-top bg-info">
  <form [formGroup]="form" class="form-search">
    <div class="input-group p-1">
      <input class="form-control" maxlength="128" formControlName="filter" placeholder="Buscar por nombre | apellido | email"  type="text" />
      <span class="input-group-btn"><button class="btn btn-primary"  (click)="search(form.get('filter')?.value)">
        <i class="fa fa-search fa-lg">&nbsp;</i></button></span>
    </div>
  </form>
</div>
<br><br><br>
<mat-card class="example-card m-2" >
  <div class="col-12 " *ngFor="let item of Contatos; let i = index; ">

    <mat-card-header class="bg-light d-flex justify-content-center">
      <div mat-card-avatar class="example-header-image" >
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="rounded" /> -->
      </div>
      <mat-card-title class="color-text" style="font-size: 14px;">{{item.nombre  + ' ' + item.apellidos}}</mat-card-title>
      <mat-card-subtitle>{{item.telefono}}</mat-card-subtitle>


      <div class="btn-group" role="group" aria-label="outlined example">
          <a class="btn btn-sm color-text"><i class="fa fa-edit" routerLink="../form/{{item.id}}"></i></a>
          <a class="btn btn-sm color-text"><i class="fa fa-trash"></i></a>
          <a class="btn  btn-sm dropdown-toggle color-text" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-comment"></i></a>
          <ul class="dropdown-menu" >
            <li><a class="dropdown-item" (click)="CreateTask(1,item.id)"><i class="fa fa-phone"></i>&nbsp;llamada Telefónica</a></li>
            <li><a class="dropdown-item" (click)="CreateTask(2,item.id)"><i class="fa fa-edit"></i>&nbsp;Mensaje de Texto</a></li>
            <li><a class="dropdown-item" (click)="CreateTask(3,item.id)"><i class="fab fa-whatsapp"></i>&nbsp;Llamada Whatsapp</a></li>
            <li><a class="dropdown-item" (click)="CreateTask(4,item.id)"><i class="fab fa-whatsapp"></i>&nbsp;Mensaje Whatsapp</a></li>
          </ul>
      </div>
    </mat-card-header>


      <div class="btn-group bg-light" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary btn-sm" routerLink="../task/{{item.id}}" >
          <i class="fa fa-list"></i>&nbsp;
          <span class="badge bg-info">{{ countItems(item.tasks) }}</span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="showComment(item.id)">
          <i class="fa fa-comment"></i>&nbsp;
          <span class="badge bg-info">{{ countItems(item.comentarios) }}</span>
        </button>
      </div>
      <hr width="100%">
    </div>
</mat-card>

<div class="col-12 in-line d-flex justify-content-center fixed-bottom pt-1" style="margin-bottom:70px;">
    <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['/contact/form']">
        <i class="fa fa-user"></i>&nbsp;Agregar
    </button>
</div>

<app-menu></app-menu>
<br><br>
<hr>

