<div class="registration-form m-5">
  <form [formGroup]="form" (ngSubmit)="saveContact()">
      <div class="form-icon">
          <span><i class="icon icon-user"></i></span>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombres">
          <span *ngIf="form.get('nombre')?.value=='' && form.get('nombre')?.touched" class="text-danger">
            El campo<strong>nombre</strong> es requerido
          </span>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="apellidos" id="apellidos" placeholder="Apellidos">
          <span *ngIf="form.get('apellidos')?.value=='' && form.get('apellidos')?.touched" class="text-danger">
            El campo<strong>apellidos</strong> es requerido
          </span>
      </div>
      <div class="form-group">
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
          <span *ngIf="form.get('email')?.value=='' && form.get('email')?.touched" class="text-danger">
            El campo<strong>apellidos</strong> es requerido
          </span>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="telefono" id="telefono" placeholder="Telefono">
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="genero" id="genero" placeholder="Tipo Cliente"  >
          <option value="0">Selecciones una Opcion</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>
      <div class="form-group">
          <input type="date" class="form-control" formControlName="fecha_nacimiento" id="fecha_nacimiento" placeholder="Fecha de nacimiento">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="direccion" id="direccion" placeholder="Direccion">
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="id_tipo" id="id_tipo" placeholder="Tipo Cliente"  >
          <option value="0">Selecciones una Opcion</option>
          <option *ngFor="let item1 of lstTipo" value="{{item1.id}}">{{item1.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="id_origen" id="id_origen" placeholder="Origen"  >
          <option value="0">Selecciones una Opcion</option>
          <option *ngFor="let item2 of lstOrigen" value="{{item2.id}}">{{item2.nombre}}</option>
        </select>
      </div>


      <div class="form-group d-flex justify-content-between">
        <button type="button" class="btn btn-primary create-account" routerLink="/contact/main">Cancelar</button>
        <button type="submit" class="btn btn-primary create-account"> {{ myid > 0 ? 'Actualizar' : 'Agregar' }}
        </button>
      </div>
  </form>

</div>
<app-menu></app-menu>
<br><br>

